*{
    padding: 0;
    margin: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .main{
    height:calc(100vh - 56px);
  } 
  .content{
    background-image:
    linear-gradient(to right ,#01022de5,#00000088) ,
      url(bg-img.jpg) ;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }
  .content:hover{
    background-image:
    linear-gradient(to right ,#01022de5,transparent) ,
    url(bg-img.jpg);
  }
